body, html{
    width: 100%;
    height: 100%;
    background-image: url("bg.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#logo{
    position: absolute;
width: calc(90/1440 * 100%);
height: calc(30/891 * 100%);
left: calc(257/1440 * 100%);
top: calc(70/891 * 100%);

font-family: sans-serif;
font-style: normal;
font-weight: bold;
font-size: 24px;
line-height: 30px;

color: #FFFFFF;

mix-blend-mode: normal;
}

#home{
    position: absolute;
width: calc(50.91/1440 * 100%);
height: calc(23/891 * 100%);
left: calc(724/1440 * 100%);
top: calc(70/891 * 100%);

font-family: Muli;
font-style: normal;
font-weight: bold;
font-size: 18px;
line-height: 23px;
/* identical to box height */


color: #18CD40;
}

#about{
    position: absolute;
width: calc(77/1440 * 100%);
height: calc(23/891 * 100%);
left: calc(827/1440 * 100%);
top: calc(70/891 *100%);

font-family: Muli;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 23px;
/* identical to box height */


color: #18CD40;

opacity: 0.5;
}

#courses{
    position: absolute;
width: calc(72/1440 * 100%);
height: calc(23/891 * 100%);
left: calc(956/1440 * 100%);
top: calc(70/891 *100%);

font-family: Muli;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 23px;
/* identical to box height */


color: #18CD40;

opacity: 0.5;
}

#blogs{
    position: absolute;
width: calc(47/1440 * 100%);
height: calc(23/891 * 100%);
left: calc(1080/1440 * 100%);
top: calc(70/891 *100%);

font-family: Muli;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 23px;
/* identical to box height */


color: #18CD40;

opacity: 0.5;
}

#contact{
    position: absolute;
width: calc(90/1440 * 100%);
height: calc(23/891 * 100%);
left: calc(1179/1440 * 100%);
top: calc(70/891 *100%);

font-family: Muli;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 23px;
/* identical to box height */


color: #18CD40;

opacity: 0.5;
}

#title{
    position: absolute;
width: calc(384.3/1440 * 100%);
height: calc(56/891 * 100%);
left: calc(171/1440 * 100%);
top: calc(283/891 * 100%);

font-family: Muli;
font-style: normal;
font-weight: bold;
font-size: 48px;
line-height: 56px;
/* identical to box height, or 117% */


color: #FFFFFF;

mix-blend-mode: normal;
}

#desp{
    position: absolute;
width: calc(392/1440 * 100%);
height: calc(126/891 8 100%);
left: calc(171/1440 * 100%);
top: calc(387/891 * 100%);

font-family: Muli;
font-style: normal;
font-weight: normal;
font-size: 21px;
line-height: 26px;
letter-spacing: 0.065em;

color: #FFFFFF;

mix-blend-mode: normal;
}

/* #explore{

position: absolute;
width: calc(180/1440 * 100%);
height: calc(56/1440 * 100%);
left: calc(171/1440 * 100%);
top: calc(564/891 * 100%);

background: #18CD40;
border-radius: 55px;
} */

#explore p{
    position: absolute;
width: calc(100/1440 * 100%);
height: calc(60/891 * 100%);
left: calc(171/1440 * 100%);
top: calc(564/891 * 100%);

font-family: Muli;
font-style: normal;
font-weight: bold;
font-size: 18px;
line-height: 60px;
/* identical to box height, or 333% */

text-align: center;

color: #131313;

mix-blend-mode: normal;

background: #18CD40;
border-radius: 55px;
}